[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized
	ignore = dirty
[submodule "mc-solarized-skin"]
	path = mc-solarized-skin
	url = https://github.com/denius/mc-solarized-skin
